.header_text_about {
    position: relative;
    top: 0px;
    color: white;
}

.kuma_era {
    position: relative;
    top: 0px;
    color: white;
}

.kuma_era2 {
    position: relative;
    top: 0px;
    color: white;
}